<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Khang Do</strong>. I’m currently enrolled in the Computer Systems Technology - Software Development and Network Engineering Advanced Diploma Program at Sheridan College, graduating December 2022 (Tentative). I achieved the Winter 2020 guard.me International Scholarship for academic excellence.</p>

              <p>
                I have more than 6 years working as a Capital Market and Foreign Exchange Trader in domestic and international banks performing a wide rage of trading activities and market report.
              </p> 
                
              <p>
                In 2019, I decided to focus on IT and software development. Since then, I has worked as an Integration Developer coop and then extended into be a part-time Application Developer in Oxford Properties. Prior to this role, I has worked as a back-end developer in a hackathon project and helping GitHub community test new features and optimize code.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">21st March</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">khangdohuu.vccb@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+1 (647) 766-8436</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">99 Wheat Boom Drive, Oakville, Ontario, Canada, L6H 0M9
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Vietnamese, English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>