<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Real Projects</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#power-bi" role="tablist">
                <i class="fa fa-laptop" aria-hidden="true"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">Integration Health Dashboard</div>
                <p><strong>Timeline:</strong> Mar 2021 - Present</p>
                <p><strong>Technologies Used:</strong> Microsoft Power BI</p>
                <p><strong>Language:</strong> M Query, Data Analysis Expressions (DAX), T-SQL</p>
                <p><strong>Connectors:</strong> Azure Data Factory, Azure SQL Database, Microsoft SQL Server, Azure Application Insights, Azure Log Analytics, SharePoint, Excel files, Power BI Datasets, Active Directory</p>
                <ol>
                  <li>
                    <strong>Problem:</strong> It took long time to detect and trace an integration failure and there is a lack of source of vendor management.
                  </li>
                  <li>
                    <strong>Challenge:</strong> Data sources stay from on-premise to cloud and from internal and external organization which takes a lot of time to request for permission and adapt to Power BI platform. It is also a totally new technology to team.
                  </li>
                  <li>
                    <strong>Achievement:</strong>
                    <ol>
                      <li>
                        Adopt to the new Power BI technology by learning on Udemy and successfully deployed the 1 phase within 1 month.
                      </li>
                      <li>
                        Save 70% of time to detect and solve an integration issue and become a starting point in daily morning meeting to monitor any integration failure and what its error message (1 summary tab and 8 tabs for specific integrations).
                      </li>
                      <li>
                        Cover 80% of the essential metrics to manage vendor performance and give management team an overview of all integrations.
                      </li>
                      <li>
                        Successfully integrated 10 different datasources into 1 the dashboard.
                      </li>
                    </ol> 
                  </li>
                </ol>
            
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">Rate Adjustment Application - Enhancement Phase</div>
                <p><strong>Timeline:</strong> Jan 2021 - Feb 2021</p>
                <p><strong>Technologies Used:</strong> Microsoft Power Apps, Azure SQL Database, Azure Power Automate, Azure Logic Apps</p>
                <p><strong>Language:</strong> T-SQL, Excel-like expression language (Power Apps language)</p>
                <p><strong>Connectors:</strong> Azure Data Factory, Azure SQL Database, Microsoft SQL Server</p>
                <ol>
                  <li>
                    <strong>Problem:</strong> There are many limitations in the functionality of the 1st release and it is required to improve the interface to be user-friendly.
                  </li>
                  <li>
                    <strong>Challenge:</strong> User requirements cause many circular reference between properties and the inconsistent date format in the database.
                  </li>
                  <li>
                    <strong>Achievement:</strong>
                    <ol>
                      <li>
                        Adopt to the new PowerApps technology by learning on Udemy and successfully deployed the enhancement in 1.5 month.
                      </li>
                      <li>
                        Used timers and buttons to help the app 100% automatically refreshing data and it tackled 100% circular reference issues.
                      </li>
                      <li>
                        Increased 70% of the app performance and stability and provided a user-friendly user interface.
                      </li>
                    </ol> 
                  </li>
                </ol>
            
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">Stiff Money App (Finastra Hackathon)</div>
                <p><strong>Timeline:</strong> Sep 2020 - Dec 2020</p>
                <p><strong>Technologies Used:</strong> Biconomy, Avalanche JS, Finastra API, React JS, Fusion Auth, Node JS, Google Cloud Service</p>
                <p><strong>Language:</strong> Javascript, HTML5, CSS3</p>
                <p><strong>Role:</strong> Back-end Developer</p>
                <ol>
                  <li>
                    <strong>Problem:</strong> Many individuals intend to invest in Real Estate with their savings and many First time Home Buyers struggle to get their dream home due to low credit limit.
                  </li>
                  <li>
                    <strong>Challenge:</strong> Find a sufficient platform to invest free cashflow from depositors with a competitive ROI.
                  </li>
                  <li>
                    <strong>Solution:</strong>
                    <ol>
                      <li>
                        Used Biconomy and Avalanche JS to manage the book, and on the other side, used Finastra API to manage the lending platform.
                      </li>
                      <li>
                        Converted free cashflow to coin to get 10% APR to maintain the interest rate for lenders.
                      </li>
                      <li>
                        Helped Real Estate Developers and First Time Home Buyers to borrow for Real Estate purchase at 12% and zero down payment.
                      </li>                      
                    </ol> 
                  </li>
                </ol>
            
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
