<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2022</p>
              <div class="h5">Diploma</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Computer Systems Technology - Software Development and Network Engineering.</div>
               <h4 class="category">Sheridan College, Oakville, Ontario, Canada.</h4>
               <ul>
                <li>Current Overall <b>GPA: 3.95/4.0</b>.</li>                
                <li>Achieved the <b>Winter 2020 guard.me International Scholarship</b> for academic excellence.</li>
                <li>Work as a volunteer in Bring Your Own Cup event to raise awareness to students about using the reusable cups to reduce plastic waste.</li>
                <li>Tutoring other students as a volunteer in both studying and mental health.</li>                
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2016</p>
              <div class="h5">Master Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Masters in Economics of Banking and Finance granted by ESCP Europe and Paris Dauphine University.</div>              
               <h4 class="category">French Vietnamese Center of Management (CFVG), Ho Chi Minh, Vietnam.</h4>
               <ul>
                <li>Analysis and Financial Management of the Banking and Insurance Firm.</li>
                <li>Financial Risk Management and Portfolio Management.</li>
                <li>Commodity Market and Monetary and Exchange rate policy.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2008 - 2012</p>
              <div class="h5">Bachelor Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor in Banking and Finance Degree.</div>
               <h4 class="category">The Banking University of Ho Chi Minh city, Ho Chi Minh city, Vietnam.
               </h4>
               <ul>
                <li>Advanced Mathematics, Microeconomics, and Macroeconomics.</li>
                <li>Accounting, Statistic, Marketing and Econometrics.</li>
                <li>Corporate Finance, Banking Operations and Projects Appraisal.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>